@{
	ViewData["Title"] = "About";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}




<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../images/skin2.png'); margin-top:116px" >
	<h2 class="ltext-105 cl0 txt-center">
		About
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Welcome to She&He Store, your go-to destination for premium skincare, body care, baby care, men's grooming, and natural perfumes. Our journey began with a passion for curating the finest products that promote self-care and well-being. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat consequat enim, non auctor massa ultrices non.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        At She&He Store, we believe in the power of quality ingredients and effective formulations. Our carefully selected range includes products that cater to various needs, whether you're seeking gentle baby care essentials, rejuvenating skincare, or natural fragrances. We are committed to providing a diverse and thoughtful collection that enhances your beauty and confidence.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Have any questions or need assistance? Visit us at our store on the 8th floor, 379 Hudson St, New York, NY 10018, or give us a call at (+1) 96 716 6879. Your satisfaction is our priority.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1">
                    <div class="hov-img0">
                        <img src="~/images/c.jpeg" alt="Store Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        She&He Store is on a mission to redefine your self-care experience. We aim to inspire confidence and promote well-being through a curated selection of high-quality products. Mauris non lacinia magna. Sed nec lobortis dolor. Vestibulum rhoncus dignissim risus, sed consectetur erat.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Our commitment extends beyond offering products; we aspire to create a community that celebrates self-love and embraces the beauty in diversity. Join us on this journey, and let She&He Store be your trusted partner in achieving radiant and healthy skin, body, and soul.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            "Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while."
                        </p>

                        <span class="stext-111 cl8">
                            - Steve Jobs
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="~/images/about2.jpeg" alt="Mission Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
