@model She_He_Store.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create Category</h1>

<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Categoryname" class="control-label">Category Name</label>
                <input asp-for="Categoryname" class="form-control" />
                <span asp-validation-for="Categoryname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Category Image</label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn" style="background-color:black ; color :white">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Category List</a>
</div>
