@model User
@{
	ViewData["Title"] = "Register";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>RegistrationForm_v1 by Colorlib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">




	<!-- MATERIAL DESIGN ICONIC FONT -->
	<link rel="stylesheet" href="~/LoginAndRegisterAssets/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/LoginAndRegisterAssets/css/style.css">
</head>

<body>
@*	style="background-image: url('..//LoginAndRegisterAssets/images/bg-registration-form-1.jpg');"
	*@
	<div class="wrapper" style="background-color:#FCF5ED">
		<div class="inner">
			<div class="image-holder">
				<img src="~/LoginAndRegisterAssets/images/login2.jpg" height="470px" alt="">
			</div>

			<form  asp-action="Register"  enctype="multipart/form-data" method="POST" >
				<h3>Sign Up</h3>
				@* First name and last name input fields on the same line with a small space between them *@
				<div class="form-group">
					<label for="FirstName"></label>
					<input type="text" placeholder="Your First Name" name="FirstName" id="FirstName" class="form-control" required>
					
					<label for="LastName"></label>
					<input type="text" placeholder="Your Last Name" name="LastName" id="LastName" class="form-control" style="margin-left: 10px;" required>
				</div>

				
				@*<div class="form-wrapper">
					<input type="text" placeholder="Username" class="form-control">
					<i class="zmdi zmdi-account"></i>
				</div>*@
				@*image input field*@

				<div class="form-wrapper">
					<label asp-for="ImageFile"> </label>
					<input asp-for="ImageFile" class="form-control">
					<i class="zmdi zmdi-image"></i>
				</div>


				@*Gender input field*@
				<div class="form-wrapper">
					<label for="gender"></label>
					<select asp-for="Gender" name="gender" id="gender" class="form-control">
						<option value="" disabled selected>Gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
					<i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
				</div>
				@*username  : this attribute in userlogin class *@
				<div class="form-wrapper">
					<label for="Username"></label>
					<input type="email" name="Username" id="email" placeholder="Username" class="form-control" required>
					<i class="zmdi zmdi-email"></i>
				</div>

		

				@*password field*@
				<div class="form-wrapper">
					<label for="password"></label>
					<input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
					<i class="zmdi zmdi-lock"></i>
				</div>

				@*<div class="form-wrapper">
					<label for="confirmPassword"></label>
					<input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control">
				<i class="zmdi zmdi-lock"></i>
				</div>
*@

			

				@*submit button*@
				<div class="form-wrapper">
					<button type="submit" name="signup" id="signup">


					Register
				</button>
				</div>

			<br />
				<div class="login-link">
					<p style="text-align:center" >
                       <a style="color:black ; text-decoration:none" asp-action="Login" asp-controller="LoginAndRegister"> 
						I am already a member
						</a>
					</p>
				</div>
			</form>
		</div>
	</div>

</body>
</html>